<%- include('../layouts/header.ejs') %>
    <div class="body-wrapper">
        <div class="bodywrapper__inner" id="reports">
            
        </div>
    </div>
<%- include('../layouts/footer.ejs') %>